.breadcrumb {
  margin-top: 20px;
  font-family: 'Metropolis', sans-serif;
  font-weight: 300;

  & > span {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;

    a,
    span {
      color: $v-dark-blue;
    }

    a {
      text-decoration: none;

      @include custom-transition-all(350ms);

      &:hover {
        color: lighten($v-dark-blue, 10%);
      }
    }
  }
}
