button,
.button {
  border: none;
  width: 100px;
  height: 50px;
  text-align: center;
  font: 16px/50px 'Renner', sans-serif;
  padding: 0;
  color: $white;
  background-color: transparent;

  @include custom-transition-all(350ms);

  &:focus {
    outline: 0;
  }
}

.yellow {
  background-color: $yellow;

  &:hover {
    background-color: $yellow-light;
    color: $white;
  }
}

.blue {
  background-color: $dark-blue;

  &:hover {
    background-color: $rose-light;
    color: $white;
  }
}
