.datepicker {
  width: 100%;

  .datepicker_header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    .datepicker_arrow {
      height: 30px;

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-right: 4px solid $light-gray;
        border-bottom: 4px solid $light-gray;
        margin: auto;
      }

      &:hover {
        &::after {
          border-color: $dark-blue;
        }
      }
    }

    .datepicker_arrow.left {
      &::after {
        transform: rotate(135deg);
      }
    }

    .datepicker_arrow.right {
      &::after {
        transform: rotate(-45deg);
      }
    }

    .datepicker_month {
      text-transform: uppercase;
      color: $dark-blue;
      font: 700 24px 'Metropolis', sans-serif;
    }
  }

  .datepicker_days {
    align-items: center;
    justify-content: flex-start;
    background-color: $light-gray-01;
    margin-bottom: 20px;
    padding: 12px 0;

    span {
      display: block;
      color: $dark-gray;
      font: 300 24px/28.8px 'Metropolis', sans-serif;
      text-transform: uppercase;
      flex: 0 0 60px;
      max-width: 60px;
      text-align: center;
      margin: 0 22px;
    }
  }

  .datepicker_dates {
    .datepicker_dates_row {
      justify-content: flex-start;

      .datepicker_dates_button {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
        color: $medium-light-gray;
        font: 24px/28.8px 'Metropolis', sans-serif;
        border: 4px solid transparent;
        margin: 0 22px;
        pointer-events: none;
      }

      .datepicker_dates_button.has_result {
        color: $dark-blue;
        pointer-events: all;

        &:hover {
          &:not(.active) {
            border-color: $dark-blue;
          }
        }
      }

      .datepicker_dates_button.active {
        background-color: $dark-blue;
        color: $white;
      }

      &:nth-of-type(odd) {
        background-color: $medium-gray-01;
      }

      &:nth-of-type(even) {
        background-color: $light-gray-01;
      }
    }
  }
}
