.date_picker_filter {
  position: relative;

  .custom-heading-3 {
    text-transform: uppercase;
    font: 800 24px 'Metropolis', sans-serif;
    margin-bottom: 30px;
  }

  .date_picker_date {
    justify-content: space-between;
    margin-bottom: 45px;

    .button {
      flex: 0 0 75px;
      width: 75px;
      height: 75px;
      font: 700 24px/normal 'Metropolis', sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: $dark-blue;
      border: 1px solid transparent;
    }

    .button.active {
      color: $white;
      background: $dark-blue;
    }
  }

  .date_picker_type_lokal {
    margin-bottom: 25px;

    .custom-heading-3 {
      margin-bottom: 35px;
      text-align: center;
      text-transform: none;
      font-family: 'Metropolis', sans-serif;
      font-weight: 300;
    }

    .date_picker_type_lokal_radio {
      justify-content: space-between;
    }
  }

  .date_picker_advanced_search {
    margin-bottom: 40px;

    .custom-heading-3 {
      background: $dark-blue;
      color: $white;
      padding: 5px 15px;
      position: relative;
      cursor: pointer;
      font: 800 18px 'Metropolis', sans-serif;
      margin: 0;

      &::after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border-top: 3px solid $white;
        border-right: 3px solid $white;
        transform: rotate(45deg);
        position: absolute;
        top: 6px;
        right: 25px;
        transition: 250ms transform ease-in-out;
      }
    }

    .date_picker_boxes {
      overflow: hidden;
      max-height: 0;
      position: relative;
      background-color: $f7-gray;
      padding: 0 20px;
      transition: 450ms max-height ease-in-out;

      .column {
        flex: 1 0 35%;

        .custom-heading-4 {
          flex: 1 0 100%;
          width: 100%;
          font: 800 18px 'Metropolis', sans-serif;
          padding: 30px 0 20px;
          border-bottom: 1px solid $light-gray;
          color: $dark-blue;
          margin-bottom: 20px;
        }
      }

      .column.custom-flex-row {
        flex: 1 0 65%;

        .custom_checkbox_container {
          flex: 1 0 50%;
        }
      }

      .loader {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        background: $lighter-gray-075;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;

        .spinner {
          width: 150px;
          height: 150px;
          animation: rotate 1s ease infinite forwards;

          .path {
            stroke: $dark-blue;
            stroke-linecap: square;
            stroke-dasharray: 260px;
          }
        }
      }

      &.active {
        .loader {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    .close {
      display: block;
      width: 100%;
      height: 0;
      overflow: hidden;
      font: 800 18px/40px 'Metropolis', sans-serif;
      background: $dark-gray;
      transition-duration: 200ms;
      transition-delay: 150ms;

      &::after {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-top: 3px solid $white;
        border-right: 3px solid $white;
        transform: rotate(-45deg) translateY(50%);
        margin-left: 10px;
      }
    }

    &.show {
      .custom-heading-3 {
        &::after {
          transform: rotate(135deg);
        }
      }

      .date_picker_boxes {
        max-height: 3000px;
      }

      .close {
        height: 40px;
      }
    }
  }

  .date_picker_filter_content {
    overflow: hidden;
    max-height: 0;
    transition: 350ms all ease-in-out;
    position: absolute;
    top: 100%;
    opacity: 0;

    &.show {
      max-height: 3000px;
      position: static;
      opacity: 1;
    }
  }
}

@media screen and (min-width: 992px) {
  .date_picker_filter {
    .date_picker_date {
      .button {
        &:hover {
          &:not(.active) {
            background: transparent;
            border-color: $dark-blue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .date_picker_filter {
    .date_picker_date {
      .button {
        flex: 1 0 100%;
        width: 100%;
        height: 50px;
        border-color: $dark-blue;

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }

    .date_picker_type_lokal {
      .date_picker_type_lokal_radio {
        overflow-x: scroll;
        flex-wrap: nowrap;

        .custom_radio_container {
          flex: 1 0 50px;
          white-space: nowrap;

          &:not(:last-of-type) {
            margin-right: 30px;
          }
        }
      }
    }

    .date_picker_advanced_search {
      .date_picker_boxes {
        .column {
          flex: 1 0 100%;
          display: flex;
          flex-flow: row wrap;

          .custom_checkbox_container {
            flex: 1 0 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .date_picker_filter {
    .date_picker_type_lokal {
      .custom-heading-3 {
        font-size: 20px;
      }
    }
  }
}
