.featured {
  .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
  }

  .controls {
    position: static;
    width: 30px;
    height: 30px;
  }

  .carousel-control-icon {
    border-bottom: 3px solid $dark-blue;
    display: block;
    width: 70%;
    height: 70%;

    &-prev {
      border-left: 3px solid $dark-blue;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &-next {
      border-right: 3px solid $dark-blue;
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  .carousel-item {
    .custom-flex-row {
      justify-content: center;
      align-items: center;
    }
  }

  .carousel-heading {
    margin: 0;
    flex: 1 0 50%;
    text-align: center;
    color: $dark-gray;
    line-height: 1;
  }

  .local {
    flex: 1 0 25%;
    position: relative;

    a {
      display: block;
      position: relative;

      img {
        filter: grayscale(1);
        object-fit: cover;
        height: 140px;
        width: 100%;

        @include custom-transition-all(350ms);
      }

      &:hover {
        img {
          filter: grayscale(0);
        }
      }

      &::before,
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 100;
      }
    }

    .featured-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: $white;
      font-size: 21px;
      background: $v-dark-blue-05;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 100;
    }
  }
}

@media screen and (min-width: 992px) {
  .featured {
    .local {
      &:not(:first-of-type) {
        &::before {
          display: block;
          border-left: 1.5px solid $yellow;
          border-bottom: 1.5px solid $yellow;
          left: 0;
          bottom: 0;
        }
      }

      &:not(:last-of-type) {
        &::after {
          display: block;
          border-right: 1.5px solid $yellow;
          border-bottom: 1.5px solid $yellow;
          right: 0;
          bottom: 0;
        }
      }

      &:nth-of-type(4n + 1) {
        &::before {
          display: none;
        }
      }

      &:nth-of-type(4n) {
        &::after {
          display: none;
        }
      }

      &:nth-of-type(n + 9) {
        &::before,
        &::after {
          top: 0;
          border-bottom: none;
          border-top: 1.5px solid $yellow;
        }
      }

      &:nth-of-type(n + 6):nth-of-type(-n + 8) {
        a {
          &::before {
            display: block;
            border-left: 1.5px solid $yellow;
            border-top: 1.5px solid $yellow;
            top: 0;
            left: 0;
          }
        }
      }

      &:nth-of-type(n + 5):nth-of-type(-n + 7) {
        a {
          &::after {
            display: block;
            border-right: 1.5px solid $yellow;
            border-top: 1.5px solid $yellow;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .featured {
    .carousel-heading {
      font-size: 21px;
      line-height: 1.5;
    }

    .local {
      flex: 1 0 50%;

      a {
        img {
          width: 100%;
          height: 205px;
        }
      }

      &:nth-of-type(even):not(:last-of-type) {
        &::before {
          display: block;
          left: 0;
          bottom: 0;
          border-left: 1.5px solid $yellow;
          border-bottom: 1.5px solid $yellow;
        }
      }

      &:nth-of-type(odd):nth-of-type(-n + 10) {
        &::after {
          display: block;
          right: 0;
          bottom: 0;
          border-right: 1.5px solid $yellow;
          border-bottom: 1.5px solid $yellow;
        }
      }

      &:nth-of-type(2n + 4) {
        a {
          &::before {
            display: block;
            left: 0;
            top: 0;
            border-left: 1.5px solid $yellow;
            border-top: 1.5px solid $yellow;
          }
        }
      }

      &:nth-of-type(2n + 3) {
        a {
          &::after {
            display: block;
            right: 0;
            top: 0;
            border-right: 1.5px solid $yellow;
            border-top: 1.5px solid $yellow;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .featured {
    .local {
      a {
        img {
          height: 140px;
        }

        .featured-title {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .featured {
    padding: 0;

    .carousel-controls {
      padding: 0 15px;
      height: 80px;
      align-items: center;
    }

    .carousel-head {
      padding: 0 45px;
    }

    .carousel-heading {
      min-height: 80px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
