textarea,
input {
  max-width: 100%;
  width: 100%;
  outline: 0;
  box-shadow: none;
  border: 2px solid $light-gray;
  font: 14px/36px 'Metropolis', sans-serif;
  padding: 5px 20px;
  background: none no-repeat calc(100% - 20px) center/20px;

  @include custom-transition-all(350ms);

  &::placeholder {
    color: $light-gray;
  }

  &:focus {
    border-color: $dark-blue;
    color: $dark-blue;
  }
}

input[type="submit"],
button.submit {
  font-size: 21px;
  font-weight: 800;
}

label {
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}

.custom_checkbox_container {
  margin-bottom: 30px;

  label {
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
    color: $dark-gray;
    font-family: 'Metropolis', sans-serif;
    font-weight: 300;
    display: block;

    @include custom-transition-all(350ms);

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid $dark-gray;
      top: 50%;
      left: 0;
      transform: translateY(-60%);

      @include custom-transition-all(350ms);
    }

    &::after {
      content: '';
      display: none;
      width: 8px;
      height: 13px;
      border-bottom: 3px solid transparent;
      border-right: 3px solid transparent;
      transform: rotate(45deg);
      top: 3px;
      left: 6px;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      & + label {
        color: $dark-blue;

        &::before {
          background: $dark-blue;
          border-color: $dark-blue;
        }

        &::after {
          display: block;
          border-color: $white;
        }
      }
    }
  }
}

.custom_radio_container {
  label {
    border-bottom: 3px solid transparent;
    padding: 5px;
    color: $light-gray;
    font-family: 'Metropolis', sans-serif;
    font-weight: 800;

    @include custom-transition-all(350ms);
  }

  input {
    display: none;

    &:checked {
      & + label {
        color: $dark-blue;
        border-bottom-color: $dark-blue;
      }
    }
  }
}

.form {
  .form-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  span[role="alert"] {
    display: none;
  }

  div.wpcf7-response-output {
    border: none;
    color: $rose-light;
    font: 400 14px/36px 'Metropolis', sans-serif;
    margin: 0;
    padding: 0;
  }

  input.valid,
  textarea.valid {
    background-image: url('../images/check.svg');
  }

  input.error,
  textarea.error {
    background-image: url('../images/beograd_nocu__cta_rezervisi_modal_izlaz.svg');
  }

  .form-row {
    margin: 0 -15px;

    .form-group {
      margin-bottom: 20px;

      .submit {
        display: block;
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  input {
    &:hover {
      border-color: $dark-blue-05;
    }
  }

  .custom_checkbox_container {
    label {
      &:hover {
        color: $dark-blue;

        &::before {
          border-color: $dark-blue;
          box-shadow: 0 0 0 1px $dark-blue;
        }
      }
    }
  }

  .custom_radio_container {
    label {
      &:hover {
        color: $dark-blue-06;
        border-bottom-color: $dark-blue-06;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  label {
    font-size: 16px;
  }
}
