body.lb-disable-scrolling {
  overflow: hidden;
  padding-right: 17px;

  #header {
    .secondary-header {
      padding-right: 17px;
    }
  }
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: $white;
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10000;

  .lb-outerContainer {
    margin: 0 auto;
    background: $white;
    max-width: 800px;
    max-height: 800px;
    width: fit-content;

    .lb-container {
      max-width: 800px;
      max-height: 800px;
      width: fit-content;
      margin: 0 auto;
      text-align: center;

      .lb-image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }

      .lb-nav {
        .lb-prev,
        .lb-next {
          position: absolute;
          top: 50%;
          height: 70vh;
          transform: translateY(-50%);

          &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            border-right: 3px solid $light-gray;
            border-bottom: 3px solid $light-gray;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @include custom-transition-all(350ms);
          }

          &:hover {
            &::after {
              border-color: $medium-gray;
            }
          }
        }

        .lb-prev {
          left: 300px;

          &::after {
            transform: rotate(135deg) translate(20%, 80%);
          }
        }

        .lb-next {
          right: 300px;

          &::after {
            transform: rotate(-45deg) translateY(-50%);
          }
        }
      }

      .lb-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 40px;
        background: url("../images/loading.gif") no-repeat center/contain;
      }
    }
  }

  .lb-dataContainer {
    .lb-close {
      position: fixed;
      top: 0;
      right: 200px;
      width: 30px;
      height: 30px;
      cursor: pointer;

      span {
        display: block;
        height: 100%;
        position: relative;

        &::before,
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 30px;
          border-top: 3px solid $light-gray;
          cursor: pointer;

          @include custom-transition-all(350ms);
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }

        &:hover {
          &::before,
          &::after {
            border-color: $medium-gray;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .lightbox {
    .lb-outerContainer {
      .lb-container {
        .lb-nav {
          .lb-prev {
            left: 150px;
          }

          .lb-next {
            right: 150px;
          }
        }
      }
    }

    .lb-dataContainer {
      .lb-close {
        right: 150px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .lightbox {
    .lb-outerContainer {
      max-width: 600px;
      max-height: 600px;

      .lb-container {
        max-width: 600px;
        max-height: 600px;

        .lb-nav {
          .lb-prev {
            left: 100px;
          }

          .lb-next {
            right: 100px;
          }
        }
      }
    }

    .lb-dataContainer {
      .lb-close {
        right: 100px;
      }
    }
  }
}
