.lokal-list {
  padding: 40px;
  border: 2px solid $dark-blue;

  .lokal-list-heading {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 25px;
    margin-bottom: 45px;

    .custom-heading-4 {
      font: 800 28px/36px 'Metropolis', sans-serif;
      text-transform: uppercase;
      color: $dark-blue;
    }
  }

  .button {
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .lokal-list-content {
    column-count: 3;
    widows: 1;
    orphans: 1;

    a {
      display: block;
      color: $dark-blue;
      margin-bottom: 25px;
      font: 800 21px/48px 'Metropolis', sans-serif;

      &:hover {
        color: $yellow;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .lokal-list {
    .lokal-list-content {
      column-count: 2;
    }
  }
}

@media screen and (max-width: 767px) {
  .lokal-list {
    .lokal-list-content {
      column-count: 1;
    }
  }
}

@media screen and (max-width: 575px) {
  .lokal-list {
    padding: 15px;
    max-height: 70px;
    overflow: hidden;
    transition: 250ms all ease-in-out;
    background-color: #0e3351;

    .lokal-list-heading {
      margin-bottom: 35px;

      .custom-heading-4 {
        font-size: 20px;
        position: relative;
        color: #fff;

        &::after {
          content: '';
          display: block;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 8px;
          right: -30px;
          transform: rotate(45deg);
          transform-origin: center;
        }
      }

      .button {
        display: none;
      }
    }

    .lokal-list-content {
      a {
        font-size: 18px;
      }
    }

    &.show {
      max-height: 3000px;
      background-color: #fff;

      .lokal-list-heading {
        .custom-heading-4 {
          color: #0e3351;

          &::after {
            border-color: #0e3351;
            transform: rotate(225deg);
          }
        }
      }
    }
  }
}
