.lokali_cards {
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}

.lokali_cards_heading {
  flex: 1 0 100%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding: 0 15px;
}

.lokali_card {
  flex: 0 0 percentage(4 / 12);
  max-width: percentage(4 / 12);
  margin-bottom: 40px;
  padding: 0 15px;
}

.lokali_card_image {
  img {
    width: 100%;
  }
}

.lokali_card_text {
  padding: 20px 15px 10px;

  .info {
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .button {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
  }

  .yellow {
    margin-bottom: 10px;
  }

  .blue {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.lokali_card_heading {
  margin-bottom: 40px;
  font: 24px/23px $renner;
  color: $dark-blue;
  text-transform: none;
}

.nova-godina-zbirna {
  .banners {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;

    a {
      flex: 0 0 50%;
    }
  }

  .lokali_card {
    flex-basis: 25%;
    flex-grow: 0;
  }

  .lokali_card_text {
    .info {
      min-height: auto;
      margin-bottom: 10px;
    }
  }
}

@media screen and (hover: hover) and (min-width: 992px) {
  .lokali_card {
    .lokali_card_text {
      transition: 350ms background-color ease-in-out;

      .info {
        min-height: 70px;
      }
    }

    .lokali_card_heading {
      min-height: 46px;
    }

    &:hover {
      .lokali_card_text {
        background-color: $yellow-01;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .lokali_card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .front-page-statika {
    .lokali_cards {
      &:not(.date_picker_filter_content) {
        max-height: 40px;
        overflow: hidden;
        transition: 350ms max-height ease-in-out;

        .lokali_cards_heading {
          &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            border-top: 3px solid $dark-blue;
            border-right: 3px solid $dark-blue;
            position: absolute;
            top: 5px;
            right: 5px;
            transform: rotate(45deg);

            @include custom-transition-all(350ms);
          }
        }

        &.show {
          max-height: 3000px;

          .lokali_cards_heading {
            &::after {
              transform: rotate(135deg);
            }
          }
        }
      }
    }
  }

  .nova-godina-zbirna {
    .lokali_card {
      flex-basis: 50%;
    }
  }

  .lokali_cards {
    margin-bottom: 60px;
  }

  .lokali_cards_heading {
    position: relative;
    color: $dark-blue;
  }

  .lokali_card {
    flex: 1 0 100%;
    max-width: 100%;

    &:last-of-type {
      margin: 0;
    }
  }

  .lokali_card_image {
    margin-bottom: 30px;
  }

  .lokali_card_text {
    padding: 0;

    .button {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }

    .blue {
      justify-content: center;

      img {
        margin-right: 35px;
      }
    }
  }

  .lokali_card_heading {
    margin-bottom: 35px;
  }
}
