.modal {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 70px 0;
  transition: 250ms opacity ease-in;

  .modal-content {
    position: relative;
    text-align: center;
    color: $dark-blue;

    .yellow-link {
      background: $yellow;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }

    .reserve-online {
      width: 300px;
      height: 60px;
      line-height: 60px;
      font-size: 28px;
      margin: 0 auto;
    }

    .telephone {
      margin: 40px 0;
      padding: 0;
      border: none;

      svg {
        width: 30px;
        margin-right: 20px;
      }

      span {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 36px;
      }

      .tel_link {
        display: block;
        margin: 15px auto 0;
        color: $dark-blue;
        width: 250px;
        font: 700 18px/40px 'Metropolis', sans-serif;
      }
    }

    .close-modal {
      .button {
        width: auto;

        span {
          font-size: 18px;
          color: $v-dark-blue;
          line-height: 24px;
          margin-left: 45px;
        }

        &::before,
        &::after {
          width: 30px;
        }
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
  }
}

.cta-modal {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
  transition: 250ms opacity ease-in;
  background-color: $yellow;
  padding: 30px;

  .button {
    width: auto;
    height: auto;
  }

  &.show {
    opacity: 1;
    z-index: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 1600px) {
  .cta-modal {
    width: 100px;
  }
}

@media screen and (max-width: 991px) {
  .cta-modal {
    display: none;
  }
}
