.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: $metropolis;
  font-weight: 700;
  margin-bottom: 80px;

  .page-numbers {
    color: $light-gray;
    min-width: 40px;
    height: 40px;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.dots) {
      &:hover {
        border-color: $dark-blue;
        color: $dark-blue;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .next,
  .prev {
    position: relative;
    width: 40px;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 15px;
      border-right: 3px solid $light-gray;
      border-bottom: 3px solid $light-gray;
      position: absolute;
      top: 50%;
      left: 50%;

      @include custom-transition-all(350ms);
    }

    &:hover {
      &::after {
        border-color: $dark-blue;
      }
    }
  }

  .prev {
    &::after {
      transform: rotate(135deg) translate(-20%, 50%);
    }
  }

  .next {
    &::after {
      transform: rotate(-45deg) translate(-20%, -90%);
    }
  }

  .page-numbers.current {
    background: $dark-blue;
    color: $white;

    &:hover {
      color: $white;
      background: $dark-blue;
    }
  }
}

@media screen and (max-width: 575px) {
  .pagination {
    .page-numbers {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }
}
