.price-list {
  border: 4px solid $dark-blue;
  padding: 40px;

  p {
    font-family: 'Metropolis', sans-serif;
    font-weight: 300;
    line-height: 32px;
    color: $dark-gray;
  }

  .price-list-heading {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-gray;

    p {
      &:nth-of-type(2) {
        font-size: 18px;
      }
    }

    p.custom-heading-2 {
      font: 800 28px/36px 'Metropolis', sans-serif;
      margin-bottom: 0;
      flex: 1 0 70%;
    }

    .price-link {
      padding: 0 15px;

      img {
        width: 38px;
      }
    }
  }

  .price-list-content {
    padding-top: 20px;

    .custom-flex-row {
      justify-content: space-between;

      .column {
        flex: 0 0 45%;
        max-width: 50%;

        .tab-heading {
          font-family: 'Metropolis', sans-serif;
          font-weight: 800;
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .price-list {
    padding: 30px 15px;

    .price-list-heading {
      border: none;

      p.custom-heading-2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        flex: 1 0 100%;
      }

      .price-link {
        margin-bottom: 30px;

        img {
          width: 52px;
        }

        &:first-of-type {
          margin-left: auto;
        }

        &:last-of-type {
          margin-right: auto;
        }
      }
    }

    .price-list-content {
      .custom-flex-row {
        .column {
          flex: 1 0 100%;
          max-width: 100%;

          .tab-heading {
            margin-bottom: 30px;
          }

          &:first-of-type {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
