.custom_cards {
  justify-content: space-between;

  &.gallery {
    .custom-card {
      .custom-card-link {
        h3.custom-card-title {
          a {
            color: $dark-gray;
          }
        }
      }
    }
  }

  .custom-card {
    flex: 0 0 23%;
    max-width: 23%;

    .custom-card-link {
      color: $dark-gray;
      height: 100%;

      .custom-card-image {
        flex: 1 0 100%;
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }

      .custom-card-title {
        font: 21px/28px 'Renner', sans-serif;
        margin-bottom: 45px;
        flex: 1 0 100%;
        align-self: flex-start;
        padding: 0 20px;
      }

      .custom-card-info {
        flex: 1 0 100%;
        text-transform: uppercase;
        font: 300 14px 'Metropolis', sans-serif;
        position: relative;
        margin-bottom: 20px;
        align-self: flex-end;
        padding: 0 20px;

        p {
          @include custom-transition-all(350ms);

          &:last-of-type {
            color: $light-gray;
            margin-top: 5px;
          }

          &.date {
            font: 800 16px/36px $metropolis;
            color: $dark-blue;
          }
        }

        &::after {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          border-top: 3px solid $light-gray;
          border-right: 3px solid $light-gray;
          transform: rotate(45deg) translateY(-50%);
          position: absolute;
          top: 50%;
          right: 20px;

          @include custom-transition-all(350ms);
        }
      }
    }
  }
}

.gallery_group_cards {
  .custom-card-heading {
    .custom-heading-2 {
      font-size: 24px;
    }
  }

  .custom-card {
    flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 30px;

    &:nth-last-of-type(2),
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .gallery {
    .custom-card {
      .custom-card-link {
        &:hover {
          background: $dark-gray-008;

          .custom-card-info {
            p {
              &:last-of-type {
                color: $dark-gray;
              }
            }

            &::after {
              border-color: $dark-gray;
            }
          }
        }
      }
    }
  }

  .related-text {
    .custom-card {
      .custom-card-link {
        &:hover {
          background: $dark-blue-008;

          .custom-card-title {
            color: $dark-blue;
          }

          .custom-card-info {
            p {
              font-family: 'Metropolis', sans-serif;
              font-weight: 800;

              &:last-of-type {
                color: $dark-blue;
              }
            }

            &::after {
              border-color: $dark-blue;
            }
          }
        }
      }
    }
  }

  .gallery_group_cards {
    .custom-card {
      .custom-card-link {
        &:hover {
          .custom-card-title {
            color: $dark-gray;
          }

          .custom-card-info {
            p {
              color: $dark-gray;
            }

            &::after {
              border-color: $dark-gray;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .custom_cards {
    .custom-card {
      flex: 0 0 45%;
      max-width: 50%;
      margin-bottom: 30px;

      img {
        width: 100%;
      }

      .custom-card-link {
        .custom-card-title {
          margin-bottom: 15px;
          font-size: 21px;
        }

        .custom-card-info {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .custom_cards {
    .partials-heading {
      .button {
        width: 100%;
      }
    }

    .custom-card {
      flex: 1 0 100%;
      max-width: 100%;

      .custom-card-link {
        .custom-card-title {
          margin-bottom: 60px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .related-text {
    .custom-card {
      .custom-card-link {
        background-color: $dark-blue-008;

        .custom-card-title {
          color: $dark-blue;
        }

        .custom-card-info {
          p {
            &:last-of-type {
              color: $dark-blue;
            }
          }

          &::after {
            border-color: $dark-blue;
          }
        }
      }
    }
  }

  .gallery {
    .custom-card {
      .custom-card-link {
        background-color: $dark-gray-008;

        .custom-card-info {
          p {
            &:last-of-type {
              color: $dark-gray;
            }
          }

          &::after {
            border-color: $dark-gray;
          }
        }
      }
    }
  }

  .gallery_group_cards {
    .custom-card {
      &:nth-last-of-type(2) {
        margin-bottom: 30px;
      }
    }
  }
}
