.reservation {
  .custom-flex-row {
    justify-content: space-between;

    .column {
      p {
        color: $dark-blue;
      }

      &:first-of-type {
        flex: 0 0 346px;

        p {
          font: 24px/32px 'Metropolis', sans-serif;
        }
      }

      &:last-of-type {
        flex: 0 0 570px;

        & > a {
          position: relative;
          display: block;
          width: 100%;

          span {
            background: $yellow;
            color: $white;
            text-align: center;
            font: 28px 'Renner', sans-serif;
            padding: 9px;
            display: inline-block;
            text-transform: uppercase;
            width: 400px;
          }

          img {
            width: 183px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }

        p {
          text-align: center;
          font: 28px 'Renner', sans-serif;
          text-transform: uppercase;

          a {
            margin-left: 80px;
            display: inline-block;
            color: $dark-blue;
          }
        }
      }
    }

    .column.custom-flex-column {
      justify-content: space-between;
      align-items: center;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 5px;
    background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
  }

  &::before {
    margin-bottom: 80px;
  }

  &::after {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .reservation {
    .custom-flex-row {
      .column {
        &:first-of-type,
        &:last-of-type {
          flex: 0 0 50%;
        }

        &:last-of-type {
          & > a {
            span {
              width: 265px;
            }

            img {
              width: 172px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .reservation {
    .custom-flex-row {
      .column {
        &:first-of-type,
        &:last-of-type {
          flex: 1 0 100%;

          p {
            font-size: 21px;
          }
        }

        &:first-of-type {
          margin-bottom: 30px;
        }

        &:last-of-type {
          & > a {
            text-align: center;
            width: auto;
            margin-bottom: 30px;

            span {
              width: 250px;
              word-spacing: 20px;
              font-size: 21px;
              padding: 15px 0;
            }

            .image {
              display: inline-block;
              margin-left: -110px;
              position: relative;

              img {
                width: 158px;
                position: relative;
                transform: none;
              }

              &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 10px;
                right: 0;
                bottom: 0;
                background: #fff;
                z-index: 0;
                transform: skewX(-10deg);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .reservation {
    .custom-flex-row {
      .column {
        &:last-of-type {
          & > a {
            width: 100%;
            margin-left: -30px;

            span {
              width: 235px;
            }
          }

          p {
            a {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
