@import "global";
@import 'components/reservations';
@import 'components/featured';

.about {
  h1 {
    margin-bottom: 40px;
    font-size: 28px;
    color: $dark-gray;
    line-height: 36px;
    font-weight: 800;
  }

  .main-content {
    h2 {
      font-size: 24px;
      text-transform: none;
    }

    .custom-card {
      align-items: center;
      border: 2px solid $dark-blue;
      padding: 50px 40px;
      margin-bottom: 40px;

      .image {
        flex: 0 0 16.66667%;
        padding-right: 15px;

        img {
          width: 100px;
        }
      }

      .text {
        flex: 1 0 80%;
        padding-left: 40px;

        p {
          margin-bottom: 20px;
        }

        .button {
          width: 240px;
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          text-transform: uppercase;
          font-size: 18px;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .about {
    h1 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    .main-content {
      .custom-card {
        border: none;
        padding: 0;
        margin-bottom: 50px;

        .image {
          flex: 1 0 100%;
          text-align: center;
          padding: 0;
          margin-bottom: 30px;

          img {
            width: auto;
            height: 120px;
          }
        }

        .text {
          flex: 1 0 100%;
          padding: 0;

          .button {
            font-size: 21px;
            line-height: 50px;
            height: 50px;
            width: 100%;
          }
        }
      }
    }
  }
}

