@import "global";
@import 'components/reservations';
@import 'components/featured';
@import "components/related";

.gallery_hero {
  h1,
  .gallery_date {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 20px;
    text-transform: none;
  }

  .gallery_date {
    font-family: 'Metropolis', sans-serif;
    font-weight: 800;
    color: $dark-blue;
    margin-bottom: 0;
  }
}

.gallery_group {
  .gallery_group_lokal {
    margin-bottom: 30px;
  }

  .description {
    margin-bottom: 75px;
  }
}

.gallery {
  margin-top: 30px;
}
