@import "global";
@import 'components/datepicker';
@import 'components/datepicker-filter';
@import 'components/related';
@import 'components/lightbox';
@import 'components/list-lokal';
@import 'components/lokal-list-date';
@import 'components/lokali-cards';
@import 'components/pagination';
@import 'components/reservations';
@import 'components/featured';
@import 'components/map';
@import 'components/price-list';

.main {
  padding-top: 30px;
}

h1 {
  text-align: center;
  font: 900 48px $metropolis;
  margin-bottom: 70px;
}

.hero_front {
  position: relative;
}

.nightout {
  margin-bottom: 60px;

  .nightout_heading {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .nightout_heading_main {
    flex: 1 0 50%;

    p {
      font-family: $metropolis;
      font-weight: 800;
      line-height: 36px;
    }

    .custom-heading-2 {
      color: $dark-blue;
      font-size: 28px;
    }
  }

  .nightout_content_container {
    border-top: 3px solid $dark-blue;
    border-bottom: 3px solid $dark-blue;
  }

  .nightout_toggler {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    background: $dark-blue-01;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      margin: auto;
      border-top: 1px solid $dark-gray;
      border-right: 1px solid $dark-gray;
      position: absolute;
      top: 50%;
      left: 50%;

      @include custom-transition-all(150ms);
    }

    &:first-of-type {
      &::after {
        transform: rotate(-45deg) translate(0, -50%);
      }
    }

    &:last-of-type {
      &::after {
        transform: rotate(135deg) translate(-20%, 70%);
      }
    }

    &:hover {
      &::after {
        border-width: 4px;
        border-color: $dark-blue;
      }
    }
  }

  .nightout_content {
    height: 380px;
    overflow: hidden auto;
  }

  .nightout_item {
    flex: 1 0 50%;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid $light-gray;

    @include custom-transition-all(350ms);

    .button {
      flex: 0 0 70px;
      width: 70px;
      height: 40px;
      line-height: 40px;
    }
  }

  .nightout_image {
    flex: 0 0 50px;
    width: 50px;
  }

  .nightout_text {
    flex: 1 0 50%;
    padding: 0 10px;

    .custom-heading-3 {
      font-size: 14px;
    }
  }

  .nightout_title {
    font: 21px $renner;
    color: $dark-blue;
    text-transform: none;
  }
}

.homepage_sidebar {
  .homepage_sidebar_item {
    position: relative;

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      color: $white;
      opacity: 0;
      background: $dark-blue-06;
      text-transform: uppercase;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.more_lokal {
  margin-bottom: 75px;
  color: $dark-blue;
  font: 400 18px/32px $metropolis;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1 0 20%;
    border-top: 1px solid $dark-blue;
  }

  &::before {
    margin-right: 55px;
  }

  &::after {
    margin-left: 55px;
  }
}

@media screen and (hover: hover) {
  .nightout {
    .nightout_content {
      overflow: hidden;
    }

    .nightout_item {
      .button {
        opacity: 0;
      }

      &:hover {
        background: $yellow-005;

        .button {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .more_lokal {
    &::before {
      margin-right: 35px;
    }

    &::after {
      margin-left: 35px;
    }
  }

  .nightout {
    .nightout_content {
      height: 300px;
    }
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  .nightout {
    margin-bottom: 30px;

    .nightout_title {
      font-size: 18px;
    }
  }

  .homepage_sidebar {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 60px;

    .homepage_sidebar_item {
      flex: 1 0 50%;
      max-width: 50%;

      img {
        width: 100%;
      }

      a {
        &:hover {
          opacity: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .nightout {
    .nightout_heading_main {
      .custom-heading-2 {
        font-size: 21px;
        line-height: 28px;
      }
    }

    .nightout_item {
      flex: 1 0 100%;
      display: block;
      overflow: hidden;

      .button {
        width: 100%;
        display: block;
      }
    }

    .nightout_image {
      float: left;
    }

    .nightout_text {
      padding: 0 10px 0 0;

      .custom-heading-3 {
        margin-bottom: 10px;
      }
    }

    .nightout_title {
      margin-bottom: 20px;
      padding-left: 65px;
    }
  }

  .more_lokal {
    margin-bottom: 45px;

    &::after,
    &::before {
      flex: 1 0 15%;
    }

    &::before {
      margin-right: 20px;
    }

    &::after {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 575px) {
  h1 {
    margin-bottom: 90px;
  }

  .nightout {
    .nightout_content_container {
      margin: 0 -15px;
    }

    .nightout_item {
      padding: 20px 15px;
      border-bottom: none;
    }

    .nightout_image {
      margin-left: 10px;
    }

    .nightout_text {
      padding: 0 10px;
    }
  }

  .homepage_sidebar {
    padding: 0;

    .homepage_sidebar_item {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  .more_lokal {
    &::before,
    &::after {
      display: none;
    }
  }
}
