@import "global";
@import 'components/reservations';
@import 'components/map';
@import "components/related";
@import 'components/featured';
@import "layouts/posts";
@import "components/price-list";
@import "components/modal";

section.single-lokal {
  .enterier-gallery {
    display: flex;
    flex-flow: row wrap;
    margin: 40px -15px;

    h2 {
      flex: 0 0 100%;
      padding: 0 15px;
    }

    .gallery-item {
      padding: 0 15px;
      flex: 0 0 50%;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .map {
    #map {
      height: auto;
    }
  }
}

@media only screen and (max-width: 1199px) {
  body.single-klubovi_beograd {
    .cta-modal {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  section.single-lokal {
    .enterier-gallery {
      .gallery-item {
        flex: 0 0 100%;
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .map {
      .partials-heading {
        p {
          text-align: left !important;
        }
      }
    }
  }
}
