@import "global";
@import 'components/reservations';
@import 'components/featured';
@import 'components/pagination';
@import 'components/related';

section.magazin {
  h1 {
    font: 800 36px/48px $metropolis;
    color: $dark-blue;
    margin: 0 0 40px;
  }

  h2 {
    font: 500 21px/28px $metropolis;
    color: $dark-blue;
    text-transform: none;
    margin: 0 40px 20px 0;

    &.first_post {
      font: 800 36px/48px "Metropolis", sans-serif;
      color: $dark-blue;
      margin: 40px 0;
      text-transform: uppercase;
    }
  }

  .date {
    font: 800 16px/36px $metropolis;
    color: $light-gray;
    text-transform: uppercase;
  }

  .gray-outline {
    border: 2px solid $light-gray;
    font: 800 18px/22px $metropolis;
    color: $light-gray;
    padding: 9px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    transition: all 300ms ease;

    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }

  .posts {
    list-style: none;
    padding: 0;

    li {
      &:not(.big-post) {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 40px;
        transition: all 300ms ease;

        .image {
          margin-right: 30px;
        }

        .post-data {
          flex: 1;
          display: flex;
          flex-flow: row wrap;
          align-content: space-between;
          padding: 20px 0;
          position: relative;

          .arrow-link {
            position: absolute;
            bottom: 35px;
            right: 30px;

            &::after {
              content: '';
              display: block;
              width: 15px;
              height: 15px;
              border-top: 3px solid $light-gray;
              border-right: 3px solid $light-gray;
              transform: rotate(45deg);
              transition: 350ms all ease;
            }

            &:hover {
              &::after {
                border-color: $dark-blue;
              }
            }
          }
        }

        .gray-outline {
          margin-right: 30px;
        }

        &:hover {
          background-color: $lighter-gray;
        }
      }

      .gray-outline {
        margin-right: 30px;
      }
    }
  }

  .pagination {
    flex: 0 0 100%;

    .nav-links {
      display: flex;
      flex-flow: row wrap;
    }
  }

  .custom-flex-row {
    align-content: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  section.magazin {
    h1 {
      font: 800 24px/28px $metropolis;
      margin: 30px 0;
    }

    h2 {
      margin: 20px 0;
    }

    .gray-outline {
      font: 800 16px/19px $metropolis;
    }

    .posts {
      li {
        &.big-post {
          margin-bottom: 50px;

          .image {
            margin: 0 -15px;
          }
        }

        &:not(.big-post) {
          margin-bottom: 30px;

          .image {
            margin-right: 0;
          }

          .post-data {
            padding: 20px;
            background-color: $lighter-gray;

            .arrow-link {
              &::after {
                border-color: $dark-blue;
              }
            }

            .info {
              display: flex;
              flex-flow: row wrap;

              .date {
                order: 1;
                display: block;
                margin-bottom: 20px;
                flex: 0 0 100%;
              }

              .gray-outline {
                order: 2;
              }
            }
          }

          .gray-outline {
            margin-right: 0;
          }
        }

        .tags {
          margin: 15px -10px 50px -10px;

          li {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
