@import "global";
@import 'components/reservations';
@import 'components/featured';

section.pricing {
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-size: contain;

  .pricing-wrapper {
    h1 {
      font: 800 48px/55px $metropolis;
      margin-bottom: 80px;
    }

    .description {
      p {
        font-family: "Metropolis", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
      }

      &.content_extra {
        p {
          font-weight: 500;
        }
      }
    }

    p {
      font: 700 18px/32px $metropolis;
      margin-bottom: 40px;
    }

    .pricing-list {
      margin-bottom: 75px;

      h2 {
        font: 800 28px/36px $metropolis;
        margin-bottom: 40px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between;
          position: relative;
          border-bottom: 2px solid transparent;
          font: 300 18px/32px $metropolis;
          padding: 2px 0;
          color: $dark-blue;

          .name {
            font-weight: 800;
          }

          .price {
            font-weight: 800;
          }

          .sub-name {
            font-weight: 400;
          }

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
            height: 2px;
          }

          &:last-of-type {
            border-bottom: 0;

            &::before {
              content: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  section.pricing {
    background-image: none !important;

    .pricing-wrapper {
      h1 {
        font: 800 24px/55px $metropolis;
        margin-bottom: 50px;
      }

      p {
        font: 700 16px/32px $metropolis;
        margin-bottom: 60px;
      }

      .pricing-list {
        margin-bottom: 50px;

        h2 {
          font: 800 21px/36px $metropolis;
          margin-bottom: 50px;
        }

        ul {
          li {
            font: 300 16px/32px $metropolis;

            span {
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
}

