@import "global";
@import "components/related";

section.search-results {
  h1 {
    font: 800 28px/36px $metropolis !important;
    color: $dark-gray;
    text-align: left !important;
    margin-bottom: 40px;
  }

  h2 {
    font: 800 24px/28px $metropolis !important;
    color: $dark-gray;
    width: 100%;
    margin-bottom: 40px;
  }

  .search-related {
    .custom-card {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 40px;

      .custom-card-image {
        flex: 0 0 255px;
        margin-bottom: 0;
      }

      .custom-card-content {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  section.search-results {
    h1 {
      font: 800 21px/28px $metropolis !important;
      margin-bottom: 50px;
    }

    h2 {
      font: 800 18px/20px $metropolis !important;
      margin-bottom: 30px;
    }

    .search-related {
      .custom-card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;

        .custom-card-image {
          flex: 0 0 100%;
          margin-bottom: 25px;
        }

        .custom-card-content {
          flex: 1;
          display: flex;
          flex-flow: row wrap;
          align-content: center;
        }
      }
    }
  }
}
