.app-landing-page {
  .wrap {
    overflow: hidden;
  }

  h1 {
    font: 700 60px $metropolis;
    color: $white;
    flex: 1 0 100%;
    text-align: center;
  }

  p {
    color: $white;
  }

  .custom-flex-row {
    justify-content: space-between;
    position: relative;
    z-index: 1;

    .column.wide {
      flex: 0 1 600px;
    }

    .column.narrow {
      flex: 0 1 400px;
    }
  }

  .custom-heading-2 {
    font: 700 40px/48px $metropolis;
    text-transform: uppercase;
  }

  .app-store {
    background: url("../images/B22_bgdn_LP_backgrounds-03.jpg") no-repeat center/cover;

    .custom-flex-row {
      justify-content: center;
      align-items: flex-end;
      height: 415px;

      .app-store-container {
        p {
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 40px;
          font: 700 24px $metropolis;
        }

        a {
          &:first-of-type {
            margin-right: 30px;
          }

          img {
            background: white;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .non-fluid {
    max-width: unset;
    mix-blend-mode: luminosity;
    opacity: 0.5;
  }

  .gradient {
    background: #00adee;
    transition: 250ms background-color linear;
  }

  .blue-container {
    padding: 60px 15px 215px;

    .custom-heading-2 {
      color: white;
    }

    .custom-heading-3 {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .column {
      &:first-of-type {
        padding-top: 45px;
        padding-right: 60px;
      }
    }
  }

  .gradient-image__green {
    height: 330px;

    img {
      margin-left: -50px;
      margin-top: -260px;
    }
  }

  .rank-text {
    font: 400 18px $metropolis;
    margin-bottom: 95px;
  }

  .ranks {
    justify-content: space-around;
    align-items: center;

    .rank {
      text-align: center;

      .rank__image {
        height: 80px;
      }

      p {
        &:first-of-type {
          margin: 40px 0 30px;
          font: 700 21px $metropolis;
        }

        &:nth-of-type(2) {
          font-size: 16px;
          max-width: 100px;
        }
      }
    }
  }

  .get-app {
    text-align: center;
    z-index: 1;

    img[class$='auto'] {
      display: block;
    }

    p {
      font: 700 20px $metropolis;
      margin: 45px 0 40px;
      text-transform: uppercase;
    }

    a {
      &:first-of-type {
        margin-right: 30px;
      }

      img {
        background: white;
        border-radius: 10px;
      }
    }
  }

  .offers {
    .custom-heading-2 {
      margin-bottom: 20px;
    }

    .text-offer {
      font: 28px $renner;
      margin-bottom: 70px;
    }

    .offer {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;

      p {
        font: 700 18px/21.6px $metropolis;
        text-transform: uppercase;

        &:last-of-type {
          text-align: right;
          flex: 0 0 100px;
        }
      }

      img {
        width: 23px;
        vertical-align: sub;
      }

      &:nth-last-of-type(2) {
        margin-bottom: 20px;
      }
    }

    .additional-info {
      align-items: center;
      justify-content: flex-start;
      border-top: 1px solid white;
      padding: 20px 0;

      img {
        flex: 0 0 42px;
        max-width: 42px;
        margin-right: 20px;
      }

      p {
        flex: 1 0 225px;
        max-width: 375px;
        font: 18px $metropolis;
        margin-bottom: 10px;
      }
    }
  }

  .yellow-container {
    //padding-top: 150px;
    margin-top: -200px;

    p {
      color: #231f20;
    }
  }

  .gradient-image__orange {
    height: 540px;

    img {
      margin-left: 300px;
      margin-top: -300px;
    }
  }

  .purple-container {
    padding-bottom: 95px;

    .offers {
      margin-top: -80px;

      .offer {
        p {
          &:first-of-type {
            flex: 0 0 360px;
          }
        }
      }

      .additional-info {
        p {
          font: 400 16px $metropolis;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .app-landing-page {
    .app-store {
      background-image: url("../images/B22_bgdn_LP_backgrounds-03-md.jpg");
    }

    h1 {
      font-size: 36px;
    }

    .custom-heading-2 {
      font-size: 32px;
    }

    .gradient-image__green,
    .gradient-image__orange {
      height: 222px;

      img {
        display: none;
      }
    }

    .get-app {
      img[class$='auto'] {
        margin: 0 auto;
      }
    }

    .custom-flex-row {
      .column {
        &:first-of-type {
          padding-right: 0;
        }
      }

      .column.wide,
      .column.narrow {
        flex: 1 0 100%;
      }
    }

    .blue-container {
      padding-bottom: 0;

      .wide {
        margin-bottom: 70px;
      }

      .custom-heading-2 {
        margin-bottom: 40px;
      }
    }

    .yellow-container {
      padding-top: 165px;

      .narrow {
        order: 2;
        margin-bottom: 25px;
      }

      .wide {
        order: 1;
        margin-bottom: 80px;
      }
    }

    .offers {
      .text-offer {
        font-size: 24px;
      }
    }

    .purple-container {
      padding-bottom: 40px;
      margin-bottom: 20px;

      .offers {
        margin: 0 0 110px;

        .custom-heading-2 {
          font-size: 36px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .app-landing-page {
    .app-store {
      .custom-flex-row {
        .app-store-container {
          a {
            display: block;
            margin-bottom: 20px;
            text-align: center;

            &:first-of-type {
              margin: 0 0 20px;
            }
          }
        }
      }
    }

    .rank-text {
      margin-bottom: 140px;
    }

    .ranks {
      .rank {
        flex: 1 0 100%;

        p {
          &:nth-of-type(2) {
            margin: 0 auto;
          }
        }

        &:not(:nth-last-of-type(1)) {
          margin-bottom: 75px;
        }
      }
    }

    .get-app {
      a {
        display: block;
        text-align: center;
        margin-bottom: 20px;

        &:first-of-type {
          margin-right: 0;
        }
      }
    }

    .offers {
      .offer {
        margin-bottom: 25px;

        p {
          &:first-of-type {
            flex: 1 0 100%;
          }

          &:last-of-type {
            flex: 0 0 100px;
            margin-top: 10px;
          }
        }

        &:nth-last-of-type(2) {
          margin-bottom: 25px;
        }
      }
    }

    .purple-container {
      .offers {
        .offer {
          p {
            &:first-of-type {
              flex: 1 0 100%;
            }
          }
        }
      }
    }
  }
}
