#footer {
  color: $dark-gray;
  font-family: $metropolis;
  font-weight: 300;
  background: no-repeat center 90%/90%;

  .custom-heading-2 {
    color: $dark-blue;
    font: 800 21px/24px $metropolis;
    margin-bottom: 30px;
    text-transform: none;

    a {
      color: $dark-blue;
    }
  }

  a {
    color: $dark-gray;
    line-height: 1;
  }

  p {
    line-height: 28px;
  }

  .footer-top {
    padding-top: 25px;

    .footer-top-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          width: 184px;
        }
      }

      .social {
        flex: 0 0 160px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 15px;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 5px;
      background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
      margin-top: 30px;
    }
  }

  .footer-widget,
  .footer-menu {
    margin-top: 30px;
    margin-bottom: 60px;

    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  .footer-widget {
    .textwidget {
      p {
        color: $dark-gray;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .footer-menu {
    .navbar-nav {
      .menu-item {
        margin-bottom: 25px;
      }
    }
  }

  .footer-contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    a {
      flex: 0 1 430px;
      height: 140px;
      position: relative;
      padding: 35px 20px 35px 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      border: 2px solid transparent;

      span {
        flex: 0 0 220px;
        font-family: 'Renner', sans-serif;
        line-height: 24px;
      }

      svg {
        fill: $dark-gray;

        @include custom-transition-all(350ms);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 50px;
        transform: rotate(45deg) translateY(-50%);
        width: 15px;
        height: 15px;
        border-top: 3px solid $dark-gray;
        border-right: 3px solid $dark-gray;
      }

      &:hover {
        border-color: $yellow;
        background: $yellow-005;

        svg {
          fill: $yellow;
        }

        &::after {
          border-color: $yellow;
        }
      }
    }
  }

  .bg-nocu-projects {
    margin: 45px 0 60px;

    .logos {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    }
  }

  .mobile-apps {
    text-align: center;

    a {
      img {
        width: 183px;
      }

      &:first-of-type {
        margin-right: 60px;
      }
    }
  }

  .copy {
    margin: 30px 0 20px;

    p {
      margin: 0;
      font-size: 12px;
      text-align: center;
      line-height: normal;
    }
  }
}

@media screen and (max-width: 1199px) {
  #footer {
    .footer-contact {
      a {
        flex: 0 1 380px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #footer {
    background: no-repeat 50% 40%/50%;

    .footer-top {
      .footer-top-container {
        .social {
          flex: 0 0 130px;
        }
      }
    }

    .footer-widget,
    .footer-menu {
      margin-top: 50px;
      margin-bottom: 0;
    }

    .footer-menu {
      .navbar-nav {
        .menu-item {
          &:not(:last-of-type) {
            margin-bottom: 30px;
          }
        }
      }
    }

    .footer-bottom {
      &::before {
        content: '';
        display: block;
        height: 5px;
        background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
        margin: 10px 0 50px;
      }
    }

    .footer-contact {
      a {
        border-color: $yellow;
        background: $yellow-005;
        margin-bottom: 50px;
        padding: 30px 20px 30px 0;

        svg {
          fill: $yellow;
        }

        &:first-of-type {
          svg {
            width: 75px;
          }
        }

        &:last-of-type {
          svg {
            width: 50px;
          }
        }

        &::after {
          border-color: $yellow;
        }
      }
    }

    .bg-nocu-projects {
      margin: 0 0 30px;

      .custom-heading-2 {
        margin-bottom: 50px;
        text-align: left;
      }

      .logos {
        a {
          flex: 0 0 45%;
          text-align: center;
          margin-bottom: 50px;
        }
      }
    }

    .mobile-apps {
      a {
        display: block;
        margin: 0 0 30px;

        &:first-of-type {
          margin: 0 0 30px;
        }
      }
    }

    .copy {
      margin: 15px 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .vazni_linkovi_order {
    order: 5;
  }

  #footer {
    .custom-heading-2 {
      text-align: left;
    }

    .bg-nocu-projects {
      .logos {
        justify-content: space-between;
      }
    }

    .mobile-apps {
      text-align: left;

      a {
        display: inline-block;

        img {
          max-width: 185px;
          width: unset;
        }
      }
    }

    .footer-top {
      padding-top: 0;

      .footer-top-container {
        .logo {
          img {
            width: 125px;
          }
        }
      }
    }

    .footer-contact {
      a {
        span {
          flex: 0 0 154px;
        }

        &::after {
          right: 20px;
        }
      }
    }
  }
}
