.single_gallery {
  .gallery_hero {
    margin-bottom: 60px;

    a {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      background-color: $dark-blue;
      height: 40px;
      font: 18px/40px 'Renner', sans-serif;

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px 10px;

    .gallery__item {
      flex: 0 0 33.33333%;
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .single_gallery {
    .gallery {
      .gallery__item {
        flex-basis: 50%;
      }
    }
  }
}
