#header {
  .main-header {
    .navbar {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      ul {
        list-style-type: none;
        padding-left: 0;
      }

      .brand {
        flex: 0 0 153px;
      }

      .navbar-collapse {
        flex: 1 0 65%;
        justify-content: flex-end;

        .navbar-nav {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;

          & > .menu-item {
            position: relative;
            max-width: 95px;
            text-align: center;

            @include custom-transition-all(350ms);

            a {
              padding: 20px 15px 20px;
              color: $dark-blue;
              display: inline-block;
              font: 21px /24px $renner;
            }
          }

          .menu-item-has-children {
            position: relative;

            .sub-menu {
              padding: 0 15px;

              .menu-item {
                &:last-of-type {
                  a {
                    position: relative;

                    &::after {
                      content: '';
                      display: block;
                      width: 10px;
                      height: 10px;
                      border-top: 3px solid;
                      border-right: 3px solid;
                      border-color: $dark-blue;
                      position: absolute;
                      top: 50%;
                      right: 0;
                      transform: rotate(45deg) translateY(-50%);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .search-openner {
        .button {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          background: none;
          margin-right: 2px;

          img {
            width: 23px;
          }
        }
      }

      .wpml-lang_current {
        display: flex;
        align-items: center;
        height: 60px;
        border-radius: 50%;
        background: none;
        color: $dark-blue;
        font: 21px /24px $renner;
      }
    }

    .mega-menu {
      border-top: 1px solid transparent;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1000;
      background: $lighter-gray no-repeat center/125%;
      transition: 250ms all ease-in-out;
      max-height: 0;
      overflow: hidden;

      ul.megamenu_links-spacing {
        padding: 0;
        list-style-type: none;

        li {
          &.menu-item {
            a {
              margin-bottom: 25px;
              font-family: $renner;
            }
          }
        }
      }

      .no-heading {
        .menu-servis-kolona-1-menu-1-container {
          margin-top: 20px;
        }

        & > div {
          &:first-of-type {
            a {
              margin-bottom: 25px;
            }
          }

          &:nth-of-type(2) {
            padding: 30px 0 0;
            border-top: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            margin: 25px 0;

            a {
              margin: 0;
            }
          }
        }
      }

      .mega-menu-heading {
        min-height: 60px;
        justify-content: center;
        margin-bottom: 30px;
        position: relative;

        .custom-heading-2 {
          text-transform: uppercase;
          position: relative;
          font-family: $metropolis;
          font-weight: 800;

          &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid $dark-blue;
            border-right: 2px solid $dark-blue;
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(45deg) translateY(-50%);
          }
        }

        &::after {
          content: '';
          display: block;
          width: 100%;
          max-width: 100%;
          border-top: 1px solid $light-gray;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      .secondary-header {
        padding-top: 0;
        margin-top: 70px;

        a {
          margin-bottom: 0;
        }

        &::before {
          content: '';
          display: block;
          height: 5px;
          margin-bottom: 10px;
          background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
        }
      }

      & > .container {
        padding-top: 30px;

        a {
          display: block;
          padding: 0;
          color: $dark-blue;
          font-size: 18px;
          line-height: 24px;

          &:not(.custom-heading-2) {
            margin-bottom: 25px;
            font-family: $renner;
          }

          &:last-of-type {
            margin: 0;
          }
        }
      }

      &.show {
        max-height: calc(100vh - 170px);
      }
    }

    &::after {
      content: '';
      display: block;
      height: 5px;
      background: linear-gradient(90deg, #782b8f 0, #eb008b 15%, #fcb813 50%, #00adee 85%, #0054a5 100%);
    }
  }

  .secondary-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
    background: $white;
    font-family: $renner;

    .button {
      font-size: 18px;
      color: $white;
      height: auto;
      width: auto;
      display: inline-block;
      line-height: 1;
      padding: 11px 15px;
    }

    .yellow {
      text-transform: uppercase;
      width: 240px;
      max-width: 100%;
      text-align: center;
      display: block;
    }

    .header-call {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;

      .custom-heading-2 {
        color: $dark-blue;
        text-transform: uppercase;
        font-size: 18px;
      }

      span {
        display: block;
        margin: 0 10px;
      }
    }
  }

  & + .wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      background: $lighter-gray-07;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;

      @include custom-transition-all(350ms);
    }
  }

  &.scrolled {
    margin-bottom: 61px;

    .secondary-header {
      &:not(.cloned) {
        position: fixed;
      }
    }
  }

  &.open {
    background: $lighter-gray;

    .mega-menu {
      border-color: $light-gray;
    }
  }
}

@media screen and (max-width: 1199px) {
  #header {
    .main-header {
      .mega-menu {
        .mega-menu-heading {
          .custom-heading-2 {
            &::before {
              right: -15px;
            }
          }
        }
      }
    }

    .secondary-header {
      .header-call {
        span {
          margin: 0 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #header {
    .main-header {
      .navbar {
        .navbar-collapse {
          .navbar-nav {
            .menu-item {
              a {
                font-size: 17px;

                &:hover {
                  color: $light-blue;
                }
              }
            }

            & > .menu-item {
              &:hover {
                background-color: $lighter-gray;

                & > a {
                  color: $light-blue;
                }
              }

              &:last-of-type {
                a {
                  padding-left: 30px;
                }

                display: flex;
                align-items: center;

                &::after {
                  content: '';
                  display: block;
                  height: 50px;
                  position: absolute;
                  top: 75%;
                  left: 0;
                  transform: translateY(-90%);
                  border-left: 1px solid $dark-blue;
                }
              }

              &:nth-last-of-type(2) {
                a {
                  padding-right: 30px;
                }
              }
            }

            .menu-item-has-children {
              .sub-menu {
                max-height: 0;
                overflow: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                width: 272px;
                text-align: left;
                background: $lighter-gray-092;

                @include custom-transition-all(500ms);

                .menu-item {
                  a {
                    padding: 20px 15px;
                    font-size: 18px;
                  }

                  &:nth-last-of-type(2) {
                    a {
                      padding-bottom: 30px;
                    }
                  }

                  &:last-of-type {
                    a {
                      border-top: 1px solid $light-gray;
                      position: relative;
                      padding: 30px 15px;
                      width: 90%;
                      font-weight: bold;

                      &:hover {
                        &::after {
                          color: $light-blue;
                        }
                      }
                    }
                  }
                }
              }

              &:hover {
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

                .sub-menu {
                  max-height: 1000px;
                  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
                }
              }
            }
          }
        }

        .search-openner {
          .button {
            &:hover {
              background: $dark-blue-01;
            }
          }
        }

        .wpml-lang_current {
          display: flex;
          align-items: center;
          height: 60px;
          border-radius: 50%;
          background: none;
          color: $dark-blue;
          font: 17px /24px 'Renner', sans-serif;
        }
      }

      .mega-menu {
        & > .container {
          a {
            &:hover {
              color: $light-blue;
            }
          }
        }

        .mega-menu-heading {
          .custom-heading-2 {
            &:hover {
              &::before {
                border-color: $light-blue;
              }
            }
          }
        }
      }
    }

    &.open {
      .secondary-header {
        background-color: $lighter-gray;
      }

      & + .wrap {
        &::before {
          opacity: 1;
          z-index: 100;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  #header {
    .main-header {
      max-height: 95vh;
      overflow-y: scroll;

      .navbar {
        align-items: center;
        padding: 15px 0;

        .search-openner {
          margin: 0 25px 0 auto;
          padding: 0;
        }

        .wpml-lang_current {
          margin-right: 25px;
        }

        .navbar-toggler {
          padding: 0;
          width: 25px;
          height: 25px;
          border: none;
          position: relative;

          .navbar-toggler-icon {
            display: block;
            border-top: 3px solid $dark-blue;
            height: 0;
            width: 100%;
            position: absolute;

            @include custom-transition-all(200ms);

            &:first-of-type {
              top: 0;
            }

            &:nth-of-type(2) {
              top: 11px;
            }

            &:last-of-type {
              bottom: 0;
            }
          }

          &[aria-expanded=true] {
            .navbar-toggler-icon {
              &:first-of-type {
                opacity: 0;
              }

              &:nth-of-type(2) {
                transform: rotate(-45deg);
              }

              &:last-of-type {
                top: 11px;
                transform: rotate(45deg);
              }
            }
          }
        }

        .navbar-collapse {
          flex: 1 0 100%;
          max-height: 0;
          overflow: hidden;
          transition: 250ms max-height ease-in-out;

          .navbar-nav {
            margin: 0;
            flex-direction: column;

            & > .menu-item {
              text-align: left;
              width: 100%;
              max-width: 100%;
            }

            .menu-item-has-children,
            .mega-menu-dropdown {
              &::after,
              &::before {
                content: '';
                display: block;
                position: absolute;
                top: 30px;
                width: 15px;
                height: 15px;
                border-top: 3px solid $dark-blue;
                transform-style: preserve-3d;
                transition: 250ms transform ease-in-out;
              }

              &::before {
                right: 5px;
                transform: rotate3D(0, 0, 1, 45deg);
                transform-origin: top left;
              }

              &::after {
                right: 3px;
                transform: rotate3D(0, 0, 1, -45deg);
                transform-origin: top right;
              }

              &.active {
                .sub-menu {
                  max-height: 1000px;
                }

                &::before {
                  right: 10px;
                  transform: rotate3D(0, 0, 1, -45deg);
                }

                &::after {
                  right: 3px;
                  transform: rotate3D(0, 0, 1, 45deg);
                }
              }
            }

            .menu-item-has-children {
              .sub-menu {
                overflow: hidden;
                max-height: 0;

                .menu-item {
                  &:last-of-type {
                    a {
                      &::after {
                        top: 30px;
                      }
                    }
                  }
                }
              }

              &.active {
                .sub-menu {
                  max-height: 1000px;
                }
              }
            }
          }

          &.show {
            max-height: calc(100vh - 167px);
            overflow-y: auto;
          }
        }
      }

      .mega-menu {
        position: static;
        background: none;

        .mega_menu_item {
          margin-bottom: 30px;

          .mega-menu-heading {
            .custom-heading-2 {
              &::before {
                right: 20px;
              }
            }

            &::after {
              width: 65%;
            }
          }
        }

        .secondary-header {
          display: none;
        }
      }
    }

    .secondary-header {
      .yellow {
        font-size: 21px;
        padding: 15px;
      }

      .header-call {
        display: none;

        & + div {
          display: none;
        }
      }
    }

    &.scrolled {
      margin-bottom: 72px;
    }
  }
}

@media screen and (max-width: 575px) {
  #header {
    .secondary-header {
      .yellow {
        width: 100%;
      }
    }

    .main-header {
      .mega-menu {
        &.show {
          max-height: 100%;

          .mobile_spacing_menu_item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
