.archive,
.home-data {
  .post-title {
    font-size: 36px;
    line-height: 48px;

    a {
      color: $dark-blue;
    }
  }

  .post-date {
    color: $light-gray;
    text-transform: uppercase;
    font-family: 'Metropolis', sans-serif;
    font-weight: 800;
    line-height: 36px;
  }

  .post-category {
    height: 40px;
    color: $light-gray;
    border: 2px solid $light-gray;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    font: 800 18px/40px 'Metropolis', sans-serif;
  }

  .post-categories {
    .post-category {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }

  .featured-post {
    margin-bottom: 80px;

    .post-info {
      margin-top: 45px;

      .post-title {
        margin-bottom: 45px;
      }

      .post-date {
        margin-bottom: 20px;
      }
    }
  }

  .magazin-post {
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .post-image {
      flex: 0 0 255px;

      img {
        object-fit: cover;
        width: 100%;
        height: 170px;
      }
    }

    .post-info {
      flex: 1 0 45%;
      height: 170px;
      padding: 20px 30px;

      @include custom-transition-all(350ms);

      .custom_card_link {
        align-content: space-between;
        height: 100%;

        .post-title {
          margin-bottom: 40px;
          font: 500 21px/28px 'Metropolis', sans-serif;
          text-transform: none;
          color: $dark-blue;
          flex: 1 0 100%;
          max-width: 100%;
        }

        .post-date {
          flex: 1 0 100%;
          max-width: 100%;
          text-align: center;

          @include custom-transition-all(350ms);
        }
      }

      .post-category {
        position: absolute;
        bottom: 20px;
      }

      &::after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border-right: 3px solid $light-gray;
        border-bottom: 3px solid $light-gray;
        transform: rotate(-45deg);
        position: absolute;
        bottom: 30px;
        right: 30px;

        @include custom-transition-all(350ms);
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .archive,
  .home-data {
    .magazin-post {
      .post-info {
        .custom_card_link {
          .post-date {
            flex: 0 0 80%;
            max-width: 80%;
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .archive,
  .home-data {
    .post-category {
      &:hover {
        border-color: $dark-blue;
        color: $dark-blue;
      }
    }

    .magazin-post {
      &:hover {
        .post-info {
          background-color: $lighter-gray;

          .post-date {
            color: $dark-blue;
          }

          &::after {
            border-color: $dark-blue;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .archive,
  .home-data {
    .featured-post {
      margin-bottom: 35px;

      .post-info {
        .post-title {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 60px;
        }

        .post-category {
          margin-bottom: 15px;
        }
      }
    }

    .post-category {
      font-size: 16px;
      border-color: $dark-blue;
      color: $dark-blue;
    }

    .magazin-post {
      background: $dark-blue-008;

      .post-info {
        &::after {
          border-color: $dark-blue;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .archive,
  .home-data {
    .magazin-post {
      .post-image {
        margin: 0 0 20px;
        flex: 1 0 100%;

        img {
          height: 300px;
        }
      }

      .post-info {
        padding: 0 15px;
        height: auto;

        .custom_card_link {
          .post-title {
            text-align: center;
          }

          .post-date {
            max-width: 100%;
            text-align: left;
            margin-bottom: 80px;
          }
        }

        .post-category {
          color: $dark-blue;
          border-color: $dark-blue;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .archive,
  .home-data {
    .featured-post {
      .post-image {
        margin: 0 -15px;
      }
    }
  }
}
