.single {
  .content {
    .custom-heading-2 {
      color: $dark-blue;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 24px;
    }

    .regular-text {
      color: $medium-gray;
      font-size: 14px;
    }

    .main-col {
      flex-flow: row wrap;
    }
  }

  .heading {
    justify-content: space-between;
    align-items: center;
    flex: 1 0 100%;

    h1 {
      text-transform: uppercase;
      font-size: 48px;
      line-height: 55px;
      margin: 0 !important;
    }
  }

  .tags {
    flex: 1 0 100%;

    .tag {
      font: 800 14px/36px 'Metropolis', sans-serif;
      text-transform: uppercase;
      border: 2px solid $dark-blue;
      padding: 0 30px;
      color: #0e3351;
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }

  .work-status {
    justify-content: space-between;
    align-items: center;
    flex: 1 0 100%;

    .column {
      flex: 1 0 50%;

      .custom-heading-2 {
        display: inline-block;
      }

      &:first-of-type {
        img {
          width: 25px;
          margin-right: 30px;
          vertical-align: sub;
        }

        .custom-heading-2 {
          font-family: 'Renner', sans-serif;
        }
      }

      &:last-of-type {
        flex: 1 0 30%;

        .regular-text {
          font-family: 'Metropolis', sans-serif;
          font-weight: 300;
          text-align: right;
        }
      }
    }
  }

  .telephone {
    padding: 20px 10px;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    justify-content: space-between;
    flex: 1 0 100%;

    .column {
      .custom-heading-2 {
        font-family: 'Metropolis', sans-serif;
        font-weight: 400;
      }

      .blue-link {
        font-family: 'Metropolis', sans-serif;
        font-weight: 700;
        color: $dark-blue;
      }
    }
  }

  .local-info-image {
    flex: 1 0 50%;
    margin-bottom: 60px;
    text-align: center;
  }

  .local-info {
    flex: 1 0 50%;
    margin-bottom: 60px;

    .info {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      img {
        width: 20px;
        flex: 0 0 20px;
        margin-right: 35px;
      }

      a,
      p {
        display: block;
        flex: 1 0 50%;
        font: 300 18px 'Metropolis', sans-serif;
        color: $medium-gray;
      }

      a {
        &:hover {
          color: $dark-blue;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 35px;
      }
    }
  }

  .events {
    flex: 1 0 100%;

    .custom-heading-3 {
      color: $dark-gray;
      font: 800 24px/24px 'Metropolis', sans-serif;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .custom-flex-row {
      margin-bottom: 30px;
    }

    .button {
      margin-right: 25px;
    }

    .event-type {
      flex: 1 0 50%;

      .custom-heading-2 {
        text-transform: none;
        font-family: 'Metropolis', sans-serif;
        font-weight: 800;
      }

      p {
        &:last-of-type {
          color: $dark-gray;
          font-family: 'Metropolis', sans-serif;
          font-weight: 300;
        }
      }
    }
  }

  .upcomming-events {
    margin-bottom: 60px;
    flex: 1 0 100%;
  }

  .local-content {
    flex: 1 0 100%;
  }

  .price-list {
    flex: 1 0 100%;
  }

  .gallery {
    .custom-heading-4 {
      color: $dark-gray;
    }
  }
}

@media screen and (max-width: 991px) {
  .single {
    .heading {
      order: 1;

      h1 {
        font-size: 24px;
      }

      .button {
        display: none;
      }
    }

    .work-status {
      order: 5;
    }

    .tags {
      order: 3;
    }

    .reserve-mobile {
      flex: 1 0 100%;
      order: 4;

      .button {
        width: 100%;
      }
    }

    .telephone {
      order: 7;
    }

    .local-info-image {
      order: 2;
      flex: 1 0 100%;
      margin-bottom: 30px;
    }

    .local-info {
      order: 6;
      flex: 1 0 100%;

      .info {
        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }

    .upcomming-events {
      order: 8;
    }

    .local-itinerary {
      order: 9;
    }

    .local-content {
      order: 10;
    }

    .price-list {
      order: 11;
    }
  }
}

@media screen and (max-width: 767px) {
  .single {
    .work-status {
      .column {
        &:first-of-type {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;

          img {
            order: 2;
            margin: 0;
          }

          .custom-heading-2 {
            flex: 0 1 90%;
          }
        }

        &:last-of-type {
          display: none;
        }
      }
    }

    .telephone {
      margin-bottom: 50px;
    }

    .events {
      .button {
        margin: 0;
        order: 2;
        flex: 1 0 100%;
      }

      .event-type {
        order: 1;
        margin-bottom: 15px;

        .custom-heading-2 {
          margin-bottom: 15px;
        }
      }

      .custom-flex-row {
        &:last-of-type {
          margin: 0;
        }
      }
    }

    .upcomming-events {
      margin-bottom: 50px;
    }

    .custom_cards {
      .custom-card {
        .custom-card-link {
          padding: 0;

          .custom-card-image {
            margin: 0 0 30px;
          }

          .custom-card-info {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .single {
    .telephone {
      padding: 0;
      border: none;

      .column {
        flex: 1 0 100%;

        &:first-of-type {
          margin-bottom: 30px;
        }

        &:last-of-type {
          text-align: center;

          .blue-link {
            display: inline-block;
            background: $yellow;
            color: $white;
            width: 170px;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }

    .local-info {
      margin-bottom: 50px;
    }

    .local-content {
      .wp-block-gallery {
        .blocks-gallery-item {
          width: 100%;
          margin: 0 0 30px;
        }
      }
    }
  }
}
