.sidebar {
  .custom-heading-2 {
    font: 800 24px/28.8px $metropolis;
    margin-bottom: 30px;
    text-align: left;
    color: $dark-blue;
  }

  .app-links {
    justify-content: space-between;

    .custom-heading-2 {
      flex: 1 0 100%;
      text-align: left;
    }

    a {
      display: block;
      flex: 0 0 160px;

      img {
        background: white;
        border-radius: 10px;
      }
    }
  }

  .featured_texts {
    .custom-heading-2 {
      color: $dark-blue;
    }
  }

  .featured_text {
    position: relative;
    margin-bottom: 30px;
  }

  .featured_text_link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .featured_text_info_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $dark-blue-06;
    align-content: space-between;
    justify-content: center;
    padding: 20px;
  }

  .sidebar_text_title {
    color: $white;
    font-family: $metropolis;
    font-weight: 500;
    flex: 1 0 100%;
  }

  .featured_text_info {
    flex: 1 0 100%;
    align-items: center;

    p {
      color: $white;
      font: 800 16px $metropolis;
    }

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-right: 3px solid $white;
      border-bottom: 3px solid $white;
      transform: rotate(-45deg);
      margin-left: auto;
    }
  }

  .featured_text_tag {
    border: 3px solid $white;
    margin-right: 30px;
    font: 800 18px/40px $metropolis;
    text-align: center;
    height: 40px;
    color: $white;
    position: relative;
    z-index: 1;
  }
}

.sidebar--custom-mb {
  margin-bottom: 30px;
}

.sidebar_cards {
  padding-top: 30px;

  .custom-heading-2 {
    color: $dark-blue;
    text-align: left;
  }
}

.sidebar_card {
  padding: 20px 20px 0;
  border: 3px solid transparent;
  transition: 250ms all ease-in-out;

  &:not(:last-child) {
    .sidebar_card_link {
      border-bottom: 1px solid $light-gray;
    }
  }

  &:hover {
    border-color: $yellow;

    .sidebar_card_link {
      border-color: transparent;
    }
  }

  &.active-sibling-prev {
    .sidebar_card_link {
      border-bottom-color: transparent;
    }
  }

  &.active-sibling-next {
    .sidebar_card_link {
      border-top-color: transparent;
    }
  }
}

.sidebar_card_link {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.sidebar_card_image {
  flex: 0 0 50px;
  max-width: 50px;
}

.sidebar_card_text {
  flex: 1 0 40%;
  margin-left: 30px;
  justify-content: flex-start;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.sidebar_card_title {
  flex: 1 0 100%;
  margin-bottom: 15px;
  font-family: $renner;
}

.sidebar_card_info {
  flex: 1 0 50%;

  p {
    font-size: 14px;
    line-height: 16.8px;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar {
    .app-links {
      a {
        flex: 0 0 140px;
      }
    }
  }

  .sidebar_card_text {
    margin-left: 15px;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
