.single-magazine {
  .hero {
    margin-bottom: 40px;

    .hero-text,
    .hero-image {
      flex: 1 0 50%;

      img {
        width: 100%;
      }
    }

    .hero-text {
      padding-right: 15px;

      h1 {
        font-size: 36px;
        margin: 20px 0 40px;
        text-align: left;
      }

      .post-date,
      .post-category {
        color: $light-gray;
        font-family: 'Metropolis', sans-serif;
        font-weight: 800;
      }

      .post-date {
        margin-bottom: 30px;
      }

      .post-category {
        font-size: 18px;
        border: 2px solid $light-gray;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }
    }

    &.magazine {
      .hero-image {
        padding-left: 15px;
        margin-bottom: 40px;
      }
    }
  }
}

.single-tekst_pesme {
  .text_category {
    padding: 0 5px;
  }
}

@media screen and (min-width: 992px) {
  .single-magazine {
    .hero {
      .hero-text {
        .post-category {
          &:hover {
            background: $dark-blue;
            border-color: $dark-blue;
            color: $white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .single-magazine {
    .hero {
      margin-bottom: 50px;

      .hero-text {
        h1 {
          font-size: 24px;
        }

        .post-date {
          margin-bottom: 20px;
        }

        .post-category {
          border: none;
          background: $dark-blue;
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .single-magazine {
    .hero {
      .hero-text {
        flex: 1 0 100%;
        margin-bottom: 30px;
        padding: 0;
      }

      .hero-image {
        flex: 1 0 100%;
        padding: 0;
      }
    }
  }
}

.related_songs {
  .song {
    margin-bottom: 30px;

    .song_content {
      .title {
        color: #0e3351;
        font-family: 'Metropolis', sans-serif;
      }

      .song_author {
        color: #b3b3b3;
        font-family: 'Metropolis', sans-serif;
      }
    }
  }
}

.similar_songs {
  p {
    color: #0e3351;
    text-transform: uppercase;
    font-family: 'Metropolis', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .button {
    font-size: 16px;
    padding: 0 20px;
    font-weight: 800;
    color: $dark-gray;
    font-family: 'Metropolis', sans-serif;
    border: 2px solid $dark-gray;
    display: inline-block;
    height: unset;
    width: unset;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
