/* stylelint-disable */
@font-face {
  font-family: 'Renner';
  src: url('../fonts/Renner-it-Book.woff2') format('woff2'),
  url('../fonts/Renner-it-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
  url('../fonts/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
  url('../fonts/Metropolis-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
  url('../fonts/Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Medium.woff2') format('woff2'),
  url('../fonts/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
  url('../fonts/Metropolis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
  url('../fonts/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis-LightItalic.woff2') format('woff2'),
  url('../fonts/Metropolis-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  font-display: swap;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Metropolis', sans-serif;
  font-weight: 800;
}

a {
  color: $yellow;
  text-decoration: none;

  @include custom-transition-all(350ms);

  &:hover {
    color: $yellow-light;
  }
}

img,
svg,
.img-fluid {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  max-width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
textarea {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal {
  .close {
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: $dark-blue;
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.screen-reader-text,
.screen-reader-response,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

iframe {
  max-width: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &.embed-21by9 {
    padding-top: percentage(9 / 21);
  }

  &.embed-16by9 {
    padding-top: percentage(9 / 16);
  }

  &.embed-4by3 {
    padding-top: percentage(3 / 4);
  }

  &.embed-1by1 {
    padding-top: percentage(1 / 1);
  }
}

.fade-in {
  background-color: transparent;
  opacity: 1;

  @include custom-transition(all, 250ms, ease);
}

.marginl-auto {
  margin-left: auto;
}

.marginr-auto {
  margin-right: auto;
}

.margin-center,
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.custom-mb-big {
  margin-bottom: 80px;
}

.custom-mb-small {
  margin-bottom: 40px;
}

.custom-flex-row {
  display: flex;
  flex-flow: row wrap;
}

.custom-flex-column {
  display: flex;
  flex-flow: column wrap;
}

h2,
h3,
h5,
h6,
table,
p {
  color: $dark-gray;
}

h1,
h4 {
  color: $dark-blue;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  line-height: 24px;
}

p,
ul,
ol,
table {
  margin: 0;
  font-family: $metropolis;
  font-weight: 300;
}

.main-content {
  p,
  ul,
  ol {
    font-size: 18px;
    line-height: 32px;
  }

  ol,
  ul {
    &:not(.wp-block-gallery) {
      list-style: none;
      padding-left: 60px;

      li {
        position: relative;
        color: #4c4c4c;

        &::before {
          display: inline-block;
          padding-right: 12px;
          font-family: 'Metropolis', sans-serif;
          font-weight: 700;
          color: $light-gray;
        }
      }
    }
  }

  ol {
    counter-reset: custom-counter;

    li {
      counter-increment: custom-counter;

      &::before {
        content: counters(custom-counter, '.') ' ';
        font-size: 18px;
      }
    }
  }

  ul {
    &:not(.wp-block-gallery) {
      li {
        &::before {
          content: '\2022';
          font-size: 30px;
        }
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  table,
  p,
  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .wp-block-image {
    margin-bottom: 40px;
  }
}

#map {
  height: 500px;
}

.partials-heading {
  flex: 1 0 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: $dark-gray;

  .custom-heading-4 {
    font: 800 28px/24px 'Metropolis', sans-serif;
  }

  .button {
    font: 800 14px/36px 'Metropolis', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: inherit;
    border: 2px solid $dark-gray;
    width: 150px;
    height: auto;
  }
}

.nova-godina-zbirna {
  h1 {
    margin-bottom: 30px;
  }

  .event__filter {
    display: flex;
  }
}

.nova-godina-single {
  .new-year-header {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .new-year__features {
    svg {
      margin-right: 35px;
      width: 20px;
    }

    span {
      font: 300 18px $metropolis;
      color: #808080;
    }
  }

  .feature {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  .main-content {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 991px) {
  .custom-mb-big {
    margin-bottom: 50px;
  }

  .custom-mb-small {
    margin-bottom: 30px;
  }

  h2,
  h3,
  h4 {
    font-size: 24px;
  }

  .partials-heading {
    .custom-heading-4 {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .main-content {
    p,
    ul,
    ol {
      font-size: 16px;
    }
  }

  .nova-godina-single {
    .new-year__image {
      margin-bottom: 30px;
    }

    .feature {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .partials-heading {
    .custom-heading-4 {
      flex: 1 0 100%;
    }

    .button {
      margin-top: 30px;
    }
  }
}

.text-align-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.related_songs {
  .song {
    margin-bottom: 10px;

    .song_content {
      .title {
        a {
          color: #0e3351;
          font-family: 'Metropolis', sans-serif;
          font-size: 20px;
          text-transform: uppercase;
        }
      }

      .song_author {
        color: #b3b3b3;
        font-family: 'Metropolis', sans-serif;
      }
    }
  }
}

.single-magazine .hero .hero-text .post-category {
  font-size: 18px;
  border: 2px solid #ccc;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ccc;
  font-family: Metropolis, sans-serif;
  font-weight: 800;
  padding: 0 10px;
  margin: 5px;

  &:hover {
    background: #0e3351;
    border-color: #0e3351;
    color: #fff;
  }
}

.similar_songs,
.similar_songs {
  margin: 30px 0;

  h2 {
    color: #0e3351;
  }
}

.similar_content_songs {
  display: inline;
}

.custom-mb-xs {
  margin-bottom: 30px;
}

.custom-mt-xs {
  margin-top: 30px;
}

.hero-text {
  h1 {
    margin: 40px 0;
  }
}

.tekstovi_copyright {
  .custom-card {
    align-items: center;
    border: 2px solid $dark-blue;
    padding: 20px;

    .text {
      flex: 1 0 80%;

      p {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }
}

.single-tekst_pesme .main-content p {
  margin-bottom: 0;
}

.single_text-content_style {
  .post-date {
    font: 800 16px/36px "Metropolis", sans-serif;
    color: $light-gray;
    text-transform: uppercase;
  }

  .gray-outline {
    margin-right: 30px;
    border: 2px solid $light-gray;
    font: 800 18px/22px $metropolis, sans-serif;
    color: $light-gray;
    padding: 9px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    transition: all 300ms ease;

    &:hover {
      color: $dark-blue;
      border-color: $dark-blue;
    }
  }
}
