/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/* stylelint-disable */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$lighter-gray: #f4f7f9;
$lighter-gray-07: rgba(244, 247, 247, 0.7);
$lighter-gray-075: rgba(244, 247, 247, 0.75);
$lighter-gray-092: rgba(244, 247, 247, 0.92);
$light-gray: #ccc;
$light-gray-04: rgba(204, 204, 204, 0.4);
$light-gray-01: rgba(204, 204, 204, 0.1);
$f7-gray: #f7f7f7;
$medium-light-gray: #B3B3B3;
$medium-gray: #808080;
$medium-gray-01: rgba(128, 128, 128, 0.1);
$dark-gray: #4c4c4c;
$dark-gray-008: rgba(76, 76, 76, 0.08);
$light-blue: #3881A5;
$dark-blue: #0e3351;
$dark-blue-01: rgba(14, 51, 81, 0.1);
$dark-blue-05: rgba(14, 51, 81, 0.5);
$dark-blue-06: rgba(14, 51, 81, 0.6);
$dark-blue-008: rgba(14, 51, 81, 0.08);
$v-dark-blue: #000014;
$v-dark-blue-05: rgba(0, 0, 20, 0.5);
$yellow-light: #fcc956;
$yellow: #fcb813;
$yellow-005: rgba(252, 184, 19, 0.05);
$yellow-01: rgba(252, 184, 19, 0.1);
$rose-light: #eb008b;

$metropolis : 'Metropolis', sans-serif;
$renner: 'Renner', sans-serif;

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin breakpoint($point) {
  @if $point == large {
    @media only screen and (min-width: 1199px) {
      @content;
    }
  } @else if $point == desktop {
    @media only screen and (min-width: 991px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 767px) {
      @content;
    }
  } @else if $point == mobile {
    @media only screen and (max-width: 575px) {
      @content;
    }
  }
}

@mixin v-center-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin v-center-position() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin custom-transition-all($time) {
  -webkit-transition: $time all ease;
  -moz-transition: $time all ease;
  -ms-transition: $time all ease;
  -o-transition: $time all ease;
  transition: $time all ease;
}

@mixin custom-transition($property, $time, $easing, $delay: null) {
  -webkit-transition: $property $time $easing $delay;
  -moz-transition: $property $time $easing $delay;
  -ms-transition: $property $time $easing $delay;
  -o-transition: $property $time $easing $delay;
  transition: $property $time $easing $delay;
}
